body {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  background-color: #FAFAFA;
  font-size: 14px;
  /* 익스플로러 스크롤바 옵션 */
  -ms-overflow-style: none;
 	/* 파이어폭스 스크롤바 옵션 */
  scrollbar-width: none;
}

img {
  width: 36px;
  height: 36px;
}

.imgWrapper {
  text-align: right;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

::-webkit-scrollbar {
	display: none;
}