.faq-wrapper {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: left;

    font-family: Geologica;
    font-size: 14px;
    font-style: normal;
}

.faq-item {
    margin: 20px 15px 0 15px;
    cursor: pointer;
}

.faq-answer {
    font-size: 12px;
}

.QA {
    font-size: 20px;
}