.grade-wrapper {
    max-width: 360px;
    margin: 20px auto 0 auto;
    font-family: Geologica;
    font-size: 14px;
    font-style: normal;
}

.description{
    font-size: 12px;
}

h3 {
    text-align: center;
    color: #0C2E87;
}

.error-wrapper {
    margin: 10px auto 10px auto;
    text-align: center;
    color: #E34850;
}

table {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: #ffffff;
    font-size: 12px;
}

th, td {
    font-weight: normal; /* 굵기 제거 */
    border: 1px solid gray; /* 연한 회색 테두리 */
    border-collapse: collapse; /* 테두리 겹치지 않도록 */
    padding: 8px; /* 여백 */
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.grade-detail-wrapper {
    margin: 10px 10px 0 10px;
    text-align: center;
}