.wrapper {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.title {
  margin: 60px auto 0 auto;
}

.description {
  color: #000;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

h1 {
  color: #0C2E87;
  font-family: "Rhodium Libre";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 10px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.login-id {
  margin: 20px auto 0 auto;
  width: 215px;
  height: 40px;
  border: 1px solid #C3C3C3;
  background: #FFF;
}

.login-pw {
  margin: 20px auto 0 auto;
  width: 215px;
  height: 40px;
  border: 1px solid #C3C3C3;
  background: #FFF;
  border-radius: 0;
}

.login-id:hover, .login-pw:hover {
  border-color: #0C2E87 !important;
}

.login-pw:focus-within {
  border-radius: 0 !important;
  border-color: #0C2E87 !important;
}

.error-container {
  margin-top: 5px;
  color: #E34850;
  height: 30px;
  font-family: Geologica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.button-container {
  text-align: center;
}

.login {
  width: 215px;
  height: 40px;
  border-radius: 4px;
  background: #0C2E87 !important;
  border: none;
  color: #FFF;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login:hover {
  opacity: 80%;
  transition: opacity 0.2s ease;
}

.footer {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 10px;
  text-align: right;
}

.footer > a {
  font-size: 14px;
  color:#0C2E87;
  text-decoration: none; /* 밑줄 없애기 */
  color: inherit;
}